@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: var(--purple);
    font-family: 'Outfit', sans-serif;
}

/* declare color variables */
:root{
    --purple: #6F73D2;
    --blue: #83C9F4;
    --green: #A8E6CF;
    --white: #FFFFFF;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container button{
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.input-container input{
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.verse{
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    background: var(--blue);
    border-radius: 1rem;
}
